# Dependencies
node_modules/

# Clasp configuration (contains project-specific IDs)
.clasp.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Scratchpad to keep the config values so we don't have to keep finding them
config-personal.js